@{ 
    ViewData["Title"] = "Agregar Tablero";
}

@using Tp11.ViewModels
@model AddTableroViewModel //Por el controller mando un objeto AgregarTableroViewModel vacio

<h1>@ViewData["Title"]</h1>
<form asp-controller="Tablero" asp-action="AgregarTableroFromForm" method="post">
@{/*Asigno los datos del formulario a los campos del objeto ViewModel y lo mando al metodo AgregarTableroFromForm*/ }
    <input hidden asp-for="@Model.IdUsuarioPropietario">
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control w-50" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control w-50" id="descripcion" />
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }