@{ 
    ViewData["Title"] = "Editar Tablero";
}

@using Tp11.ViewModels
@model UpdateTableroViewModel

<h1>@ViewData["Title"]</h1>
<form asp-controller="Tablero" asp-action="EditarTableroFromForm" method="post">
    <input hidden asp-for="@Model.Id">
    <input hidden asp-for="@Model.IdUsuarioPropietario">
    <div class="form-group">
        <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion">descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control" id="descripcion" />
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }