@{
    ViewData["Title"] = "Tableros";
}

@using Tp11.ViewModels
@using tp10.Models
@model GetTablerosViewModel//Especifico q la view espera un obj de ese tipo, q podre usar con Model o con su nombre original

@{
    bool isAdmin = (ViewContext.HttpContext.Session.GetString("Rol") == "administrador");
    int idUsuarioLogueado = Convert.ToInt32(ViewContext.HttpContext.Session.GetString("Id"));
}

<div class="container mt-4"> <!-- Agregado un contenedor para alinear el botón -->
    <div class="col">
        <div class="btn-group" role="group">

            <a class="btn btn-success mr-2" asp-controller="Tablero" asp-action="AgregarTablero">
                <i class="fas fa-plus-circle"></i> Agregar Tablero
            </a>
            @if(Model.VerTablerosDeUsuarioIndividual)
            {
                @if(isAdmin){
                    <a class="btn btn-info ml-2" asp-controller="Tablero" asp-action="Index">
                        <i class="fas fa-list"></i> Ver todos los tableros
                    </a>
                } else if(!isAdmin) {
                    <a class="btn btn-info ml-2" asp-controller="Tablero" asp-action="Index">
                        <i class="fas fa-list"></i> Ver mis tableros
                    </a>
                }
            }
        </div>
    </div>  
</div>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr> 
            @if(Model.VerTablerosDeUsuarioIndividual)
            {
                <th colspan="7" class="text-center display-5 text-primary font-weight-bold">Tableros de @Model.NombreUsuario</th>
            } else if(isAdmin)
            {
                <th colspan="7" class="text-center display-5 text-primary font-weight-bold">Todos los tableros</th>
            }else{
                <th colspan="7" class="text-center display-5 text-primary font-weight-bold">Mis tableros / Tableros con tareas asignadas</th>

            }
        </tr>
        <tr>
            <th hidden>ID</th>
            <th hidden>IdUsuarioPropietario</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th >Propietario</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.ListaTableros) 
        {
            if(tablero.Nombre != null)// Si no me aparecen tableros vacios
            {
                <tr>
                    <td hidden>@tablero.Id</td>
                    <td hidden>@tablero.IdUsuarioPropietario</td>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>         
                    <td>@tablero.NombrePropietario </td>
                    <td>
                        @if(idUsuarioLogueado == tablero.IdUsuarioPropietario || isAdmin){
                            <a class="btn btn-primary" asp-controller="Tablero" asp-action="EditarTablero" asp-route-idTablero="@tablero.Id">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a class="btn btn-danger" asp-controller="Tablero" asp-action="DeleteTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </a>                        
                        }
                        <a class="btn btn-info" asp-controller="Tarea" asp-action="Index" asp-route-idTablero="@tablero.Id">
                            <i class="fas fa-clipboard-list"></i> Ver tareas
                        </a> 
                    </td>
                    
                </tr>
            }
        }
        

    </tbody>
    <tfoot>
    </tfoot>
</table>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }