@{
    ViewData["Title"] = "Tareas";
}

@using Tp11.ViewModels
@model List<TareaViewModel>

<h2>Tarea List</h2>

<table class="table table-dark">
    <thead>
        <tr>
            <th hidden>ID</th>
            <th>IdTablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>IdUsuarioAsignado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model)
        {
            <tr>
                <td hidden>@tarea.Id</td>
                <td>@tarea.IdTablero</td>
                <td>@tarea.Nombre</td>
                <td>@((int)tarea.Estado)</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.IdUsuarioAsignado</td>
                <td>
                    <a asp-controller="Tarea" asp-action="EditarTarea" asp-route-idTarea="@tarea.Id">Editar</a>
                    <a asp-controller="Tarea" asp-action="DeleteTarea" asp-route-idTarea="@tarea.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>                      
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <a asp-controller="Tarea" asp-action="AgregarTarea">Agregar Tarea</a>
        </tr>
    </tfoot>
</table>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
