@{
    ViewData["Title"] = "Tareas";
}

@using Tp11.ViewModels
@model GetTareasViewModel

<h2>Lista de tareas</h2>

@{
    bool isAdmin = (ViewContext.HttpContext.Session.GetString("Rol") == "administrador");
    int idUsuarioLogueado = Convert.ToInt32(ViewContext.HttpContext.Session.GetString("Id"));
}


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
       <th colspan="7" class="text-center display-5 text-primary font-weight-bold">@{ string titulo = isAdmin ? "Todas las tareas" : "Mis tareas asignadas"; } @titulo</th>
        <tr>
            <th hidden>ID</th>
            <th>IdTablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th hidden>IdUsuarioAsignado</th>
            <th >Usuario Asignado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ List<GetTareaViewModel> tareas;
            if(isAdmin) {
             tareas = Model.TodasLasTareas;
            } else  { 
                tareas = Model.TareasAsignadasAlUsuario;
            }
            @foreach (var tarea in tareas)
            {
                <tr>
                    <td hidden>@tarea.Id</td>
                    <td>@tarea.IdTablero</td>
                    <td>@tarea.Nombre</td>
                    <td>@(tarea.Estado.ToString())</td>
                    <td>@tarea.Descripcion</td>
                    <td>@tarea.Color</td>
                    <td hidden>@tarea.IdUsuarioAsignado</td>
                    <td >@(tarea.NombreUsuarioAsignado != null ? tarea.NombreUsuarioAsignado : "Sin asignar") </td>

                    <td>
                        @if(isAdmin)
                        {
                            <a class="btn btn-primary" asp-controller="Tarea" asp-action="UpdateTarea" asp-route-idTarea="@tarea.Id">Editar</a>
                            <a class="btn btn-danger"  asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>                      
                        }else {
                            <a class="btn btn-primary" asp-controller="Tarea" asp-action="UpdateTarea" asp-route-idTarea="@tarea.Id">Actualizar Estado</a>
                        }
                    </td>
                </tr>
            }
            
            if(!isAdmin)
            {
                <th colspan="7" class="text-center display-5 text-primary font-weight-bold">Tareas de mis tableros</th>
                @foreach (var tarea in Model.TareasFromTablerosDelUsuario)
                {
                    <tr>
                        <td hidden>@tarea.Id</td>
                        <td>@tarea.IdTablero</td>
                        <td>@tarea.Nombre</td>
                        <td>@(tarea.Estado.ToString())</td>
                        <td>@tarea.Descripcion</td>
                        <td>@tarea.Color</td>
                        <td hidden>@tarea.IdUsuarioAsignado</td>
                        <td >@(tarea.NombreUsuarioAsignado != null ? tarea.NombreUsuarioAsignado : "Sin asignar") </td>

                        <td>
                            @if(idUsuarioLogueado == tarea.IdUsuarioAsignado)
                            {
                                <a class="btn btn-primary" asp-controller="Tarea" asp-action="UpdateTarea" asp-route-idTarea="@tarea.Id">Actualizar Estado</a>
                                <a class="btn btn-primary" asp-controller="Tarea" asp-action="AsignarTarea" asp-route-idTarea="@tarea.Id">Reasignar</a>
                            } else if(tarea.IdUsuarioAsignado!=0){
                                <a class="btn btn-primary" asp-controller="Tarea" asp-action="AsignarTarea" asp-route-idTarea="@tarea.Id">Reasignar</a>
                            } else{
                                <a class="btn btn-primary" asp-controller="Tarea" asp-action="AsignarTarea" asp-route-idTarea="@tarea.Id">Asignar</a>
                            }
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
    <tfoot>
        <td colspan="4">
            <a class="btn btn-success" asp-controller="Tarea" asp-action="AgregarTarea">Agregar Tarea</a>
        </td>
    </tfoot>
</table>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
