@{ 
    ViewData["Title"] = "Editar Tarea";
}

@using Tp11.ViewModels
@model UpdateTareaViewModel

@{
    bool isAdmin = (ViewContext.HttpContext.Session.GetString("Rol") == "administrador");
    int idUsuarioLogueado = Convert.ToInt32(ViewContext.HttpContext.Session.GetString("Id"));
}


<h1>@ViewData["Title"]</h1>
<form asp-controller="Tarea" asp-action="EditarTareaFromForm" method="post">
    <input hidden asp-for="@Model.Id">
        
    @if(isAdmin){
    // Si no es admin solo puede modificar el estado
    <div class="form-group">
        <label asp-for="@Model.IdTablero">Asignar a tablero:</label>
        <select asp-for="@Model.IdTablero" class="form-select" id="idTablero">
            @foreach(var tablero in Model.TablerosParaAsignar) { // La tarea pertenecera a algun tablero del usuario
                <option value="@tablero.Id">@tablero.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control" id="nombre" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control" id="descripcion" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Color">color</label>
        <input asp-for="@Model.Color" class="form-control" id="color" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioAsignado">Asignar a usuario:</label>
        <select asp-for="@Model.IdUsuarioAsignado" class="form-select" id="idTablero">
            @foreach(var usuario in Model.UsuariosParaAsignar) { // La tarea pertenecera a algun tablero del usuario
                <option value="@usuario.Id">@usuario.Nombre</option>
            }
            <option value="0">Sin Asignar</option>
        </select>
    </div>
    <input hidden asp-for="@Model.IdUsuarioAsignado">
    } else if(idUsuarioLogueado == Model.IdUsuarioAsignado)
    { // Si es el asignado puede modificar su estado, todo lo demas estara oculto
        <input hidden asp-for="@Model.IdTablero">
        <input hidden asp-for="@Model.Nombre">
        <input hidden asp-for="@Model.Descripcion">
        <input hidden asp-for="@Model.Color">
        <input hidden asp-for="@Model.IdUsuarioAsignado">
    }
        
    <div class="form-group">
        <label asp-for="@Model.Estado">Estado</label>
        <select asp-for="@Model.Estado" asp-items="Html.GetEnumSelectList<EstadoTarea>()" class="form-control">
            <option value="">Seleccionar Estado</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" >Enviar</button>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }